<header class="flex items-center justify-between px-10 py-3 border-b border-gray-200 rounded-t-lg ">
  <a routerLink="" class="flex items-center gap-4 text-black">
    <div class="text-xl">
      <fa-icon [icon]="icoEnterprise"></fa-icon>
    </div>
    <h2 class="text-lg font-bold">MediCare</h2>
  </a>
</header>
<div style="min-height: calc(100vh - 53px);"
  class="flex items-center justify-center bg-white animate-fade animate-once animate-ease-in">

  <div class="bg-white shadow-md rounded-lg w-full max-w-[512px]">
    <div class="px-10 py-5">
      <h3 class="text-center text-2xl font-bold text-black mb-4">Log in to MediCare</h3>

      <form (ngSubmit)="login()">
        <div class="mb-4">
          <label class="block text-black text-base font-medium leading-normal pb-2" for="email">Email</label>
          <input [(ngModel)]="username" id="email" name="username" type="email" placeholder="example@gmail.com"
            class="form-input w-full h-14 rounded-xl bg-gray-200 text-black p-4 text-base leading-normal focus:outline-none focus:ring-0 focus:border-none" />
        </div>

        <div class="mb-4">
          <label class="block text-black text-base font-medium leading-normal pb-2" for="password">Password</label>
          <input [(ngModel)]="password" id="password" name="password" type="password" placeholder="Password"
            class="form-input w-full h-14 rounded-xl bg-gray-200 text-black p-4 text-base leading-normal focus:outline-none focus:ring-0 focus:border-none" />
        </div>

        <div class="flex items-center gap-3 py-3">
          <input type="checkbox" id="remember"
            class="h-5 w-5 rounded border-gray-300 text-green-500 focus:ring-0 focus:border-gray-300" />
          <label for="remember" class="text-black text-base leading-normal">Remember me</label>
        </div>

        <div class="mt-4">
          <button type="submit"
            class="w-full h-10 rounded-xl bg-blue-500 text-white font-bold tracking-wider text-sm leading-normal"
            [disabled]="isLoading">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!isLoading">Log in</span>
          </button>
        </div>

        <div class="text-center mt-4">
          <a href="#" class="text-gray-500 text-sm">Don't have an account?</a>
        </div>
        <div class="text-center mt-1">
          <a href="#" class="text-gray-500 text-sm">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>