<div class="flex items-center justify-center min-h-screen bg-gray-100 animate-fade-down animate-once animate-ease-in">
  <div class="bg-white shadow-xl rounded-2xl p-8 w-96">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Menú Principal</h1>
    <div class="grid grid-cols-2 gap-6">
      <div class="space-y-4">
        <a href="/hospitals" class="block">
          <button
            class="w-full bg-blue-600 text-white text-center py-2 rounded-lg transition-transform duration-300 ease-in-out hover:bg-blue-700 hover:scale-110">
            Hospitales
          </button>
        </a>
        <a href="/register" class="block">
          <button
            class="w-full bg-green-600 text-white text-center py-2 rounded-lg transition-transform duration-300 ease-in-out hover:bg-green-700 hover:scale-110">
            Registros
          </button>
        </a>
        <a href="/update" class="block">
          <button
            class="w-full bg-yellow-500 text-white text-center py-2 rounded-lg transition-transform duration-300 ease-in-out hover:bg-yellow-600 hover:scale-110">
            Actualizaciones
          </button>
        </a>
        <a href="/logout" class="block">
          <button
            class="w-full bg-red-500 text-white text-center py-2 rounded-lg transition-transform duration-300 ease-in-out hover:bg-red-600 hover:scale-110">
            Cerrar sesión
          </button>
        </a>
      </div>
      <div class="flex items-center justify-center">
        <a href="https://www.angelogomez.pro/" target="_blank">
          <img src="/svg/Logo.svg" alt="Logo" class="w-48 h-48 transition-transform duration-300 ease-in-out hover:scale-125
            animate-wiggle animate-infinite animate-ease-linear">
        </a>
      </div>
    </div>
  </div>
</div>
