<app-navbar></app-navbar>
<div
  class="container mx-auto px-4 py-8 mt-6 rounded-xl border-gray-300 border-2 mb-10 transition duration-500 ease-in-out animate-fade animate-once animate-ease-in">
  <div class="mb-6">
    <h1 class="text-3xl text-gray-800 font-bold mb-4 transition duration-500 ease-in-out">
      Hospital System</h1>
    <div class="flex items-center">

      <div class="mr-4">
        <label class="inline-flex items-center">
          <input type="radio" name="searchType" value="idHospital" [(ngModel)]="searchType"
            class="form-radio transition-all duration-500 ease-in-out" />
          <span class="ml-2 font-semibold text-gray-600">Buscar por ID de Hospital</span>
        </label>
      </div>
      <div class="mr-4">
        <label class="inline-flex items-center">
          <input type="radio" name="searchType" value="idSede" [(ngModel)]="searchType"
            class="form-radio transition-all duration-500 ease-in-out" />
          <span class="ml-2 font-semibold text-gray-600">Filtrar por ID de Sede</span>
        </label>
      </div>
    </div>

    <div class="flex items-center mt-4">
      <input *ngIf="searchType === 'idHospital'" type="number" [(ngModel)]="searchIdHospital"
        placeholder="ID de Hospital"
        class="border p-2 rounded-lg shadow-sm text-gray-800 transition duration-500 ease-in-out" />
      <select *ngIf="searchType === 'idSede'" [(ngModel)]="searchIdSede"
        class="border p-2 rounded-lg shadow-sm ml-4 transition duration-500 ease-in-out text-gray-800">
        <option [ngValue]="null">Seleccionar Sede</option>
        <option *ngFor="let sede of sedes" [ngValue]="sede.id">{{ sede.text }}</option>
      </select>
      <button (click)="search()"
        class="bg-blue-600 text-white p-2 rounded-lg shadow ml-4 transition duration-500 ease-in transform hover:scale-105">Buscar</button>
    </div>
  </div>

  <div class="flex items-center justify-between mb-4">
    <h1 class="text-3xl text-gray-800 font-bold transition duration-500 ease-in-out">Lista
      de Hospitales</h1>
    <div class="flex space-x-4">
      <button (click)="reloadPage()"
        class=" hover:bg-orange-500 border-2 border-orange-600 hover:text-white text-gray-800 px-3 rounded-lg shadow transition duration-500 ease-in-out transform hover:scale-105">
        <fa-icon [icon]="icoRecharge"></fa-icon>
      </button>
      <button routerLink="/register"
        class="hover:bg-green-500 border-2 border-green-600 hover:text-white text-gray-800 p-2 px-3 rounded-lg shadow transition duration-500 ease-in-out transform hover:scale-105">
        <fa-icon [icon]="icoAdd"></fa-icon>
      </button>
      <button routerLink="/"
        class="hover:bg-blue-500 border-2 border-blue-600 hover:text-white text-gray-800 p-2 px-3 rounded-lg shadow transition duration-500 ease-in-out transform hover:scale-105">
        <fa-icon [icon]="icoOptions"></fa-icon>
      </button>
      <a href="http://localhost:55210/swagger-docs.html" target="_blank"
        class="hover:bg-purple-500 border-2 border-purple-600 hover:text-white text-gray-800 p-2 px-3 rounded-lg shadow font-bold transition duration-500 ease-in-out transform hover:scale-105">
        <fa-icon [icon]="icoCloud"></fa-icon> API V2 DOCS
      </a>
    </div>
  </div>

  <div class="overflow-x-auto border border-gray-300 rounded-xl">
    <table class="min-w-full bg-white ">
      <thead class="bg-gray-100 text-gray-800 border-b border-gray-300 rounded-t-lg">
        <tr>
          <th class="py-3 px-6 text-left">ID</th>
          <th class="py-3 px-6 text-left">Nombre</th>
          <th class="py-3 px-6 text-left">Antigüedad</th>
          <th class="py-3 px-6 text-left">Distrito</th>
          <th class="py-3 px-6 text-left">Sede</th>
          <th class="py-3 px-6 text-left">Gerente</th>
          <th class="py-3 px-6 text-left">Condición</th>
          <th class="py-3 px-6 text-left">Fecha Registro</th>
          <th class="py-3 px-6 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hospital of hospitals" class="group hover:bg-gray-100 transition duration-500 ease-in-out">
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">{{ hospital.idHospital
            }}</td>
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">{{
            hospital.nombreHospital }}</td>
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">{{ hospital.antiguedad
            }}</td>
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">{{
            getDistritoText(hospital.idDistrito) }}</td>
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">{{
            getSedeText(hospital.idSede) }}
          </td>
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">{{
            getGerenteText(hospital.idGerente) }}</td>
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">{{
            getCondicionText(hospital.idCondicion) }}</td>
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">{{
            hospital.fechaRegistro |
            date:'dd/MM/yyyy' }}</td>
          <td class="py-3 px-6 border-t border-gray-300 group-hover:text-blue-800 transition-all">
            <button (click)="confirmDelete(hospital.idHospital)"
              class="hover:bg-red-500 border-2 border-red-600 hover:text-white text-gray-900 p-2 rounded-lg shadow ml-2 transition duration-500 ease-in-out transform hover:scale-105">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex items-center justify-between mt-6">
    <span class="text-sm font-semibold text-gray-900">
      Existen: {{ totalItems }} Hospital(es)
    </span>
    <p class="text-sm font-semibold text-gray-900">
      Página {{ currentPage }} de {{ totalPages }}
    </p>
  </div>

  <nav class="mt-6 flex justify-center">
    <ul class="flex list-none space-x-2">
      <li *ngFor="let page of [].constructor(totalPages); let i = index">
        <button
          class="px-4 py-2 rounded-lg border border-gray-400 bg-gray-800 hover:text-blue-600 transition duration-500 ease-in-out transform hover:scale-105"
          [class.bg-gray-800]="currentPage === i + 1" [class.text-white]="currentPage === i + 1"
          (click)="changePage(i + 1)">
          {{ i + 1 }}
        </button>
      </li>
    </ul>
  </nav>

</div>